[Desktop Entry]
Type=Application
Exec=Touché
Icon=input-keyboard
Terminal=false
X-KDE-StartupNotify=false
Name=Touché
Categories=Qt;System;HardwareSettings;
